<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo</title>
</head>
<body>
  <h1>ToDo List</h1>
  <form action="/addTodo/" method="post">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add">
  </form>
  <ul>
    {% for item in items %}
    <li style="display: flex;">
      <form action="/deleteTodo/{{item.id}}" method="post">
        {% csrf_token %}
        <input type="submit" value="X">
      </form>
      {{ item.content }}</li>
    {% endfor %}
  </ul>
</body>
</html>